*.DAT
*.DMP
*.ID
*.IND
*.Inx
*.MAP
*.a
*.bak
*.bar
*.btw
*.class
*.contrib
*.crt
*.dat
*.db
*.depot
*.dll
*.dmp
*.doc
*.docx
*.dox
*.ear
*.exe
*.gz
*.hprof
*.id
*.ind
*.jar
*.jasper
*.jude
*.keep
*.keep.*
*.lib
*.lic
*.lnk
*.log
*.map
*.mkelem
*.mmc
*.mms
*.mtt
*.o
*.obj
*.orig
*.pdb
*.pdf
*.pot
*.ppt
*.pptx
*.ps
*.pst
*.rar
*.rej
*.rpm
*.scc
*.so
*.sqlite
*.swp
*.tab
*.tar
*.tgz
*.thmx
*.vsd
*.war
*.wzip
*.xls
*.xlsm
*.xlsx
*.zip
*/.svn/*
*toDelete*
*todelete*
.DS_Store
.copyarea.db
Thumbs.db
.classpath
.factorypath
.gradle/
.project
.settings
bin/
build/
gradle.properties
!gradle/wrapper/gradle-wrapper.jar
